version: '3'
services:
  db:
    image: mariadb
    restart: always
    ports:
      - "3306:3306"
    command: --init-file /home/adawant/demo/warehouse/init.sql
    volumes:
      - ./init.sql:/home/adawant/demo/warehouse/init.sql
    environment:
      MYSQL_ROOT_PASSWORD: pw
      MYSQL_DATABASE: mydb
      MYSQL_USER: test
      MYSQL_PASSWORD: password

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - "db"


